@keyframes strokeDance {
  0% {
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-dasharray: 215px;
  }
  100% {
    stroke: #ffffff;
    stroke-width: 0;
    stroke-dasharray: 0;
  }
}

@keyframes fadeinout {
  0% {
    top: 5%;
    opacity: 0;
  }
  50% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 5%;
    opacity: 0;
  }
}

.strokeDance {
  animation: strokeDance 1.12s ease-in-out forwards infinite alternate-reverse;
}

.pageTransitionShutter {
  inset: 0;
  z-index: 9999;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  // background: var(--main_gradient);
  background: var(--main_gradient_dark);
  // background: url('/assets/piratechs/gifs/Piratech-Glitch.gif'), var(--main_gradient);
  // background-size: 879px, cover !important;
  // background-position: center, center !important;
  // background-repeat: no-repeat, no-repeat !important;
  &::after {
    content: "";
    inset: 0;
    position: absolute;
    background: url('/assets/piratechs/gifs/Piratech-Glitch.gif');
    background-size: 879px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    animation: fadeinout 1.12s ease-in-out forwards;
  }
  &.pageTransitionGifReset::after {
    animation: none;
  }
}

.pageTransitionBlock {
  overflow: hidden;
  position: absolute;
  transform: scaleX(0);
  will-change: transform;
  backface-visibility: hidden;
  background: var(--main_gradient);
  // background: url('/assets/piratechs/gifs/Piratech-Glitch.gif'), var(--main_gradient);
  // background-size: 75px, cover !important;
  // background-position: center, center !important;
  // background-repeat: no-repeat, no-repeat !important;
}

.pageTransitionBlock:nth-child(odd) {
  background: linear-gradient(var(--main_gradient_angle), var(--main), var(--navy));
}

.pageTransitionBlock:nth-child(even) {
  background: linear-gradient(var(--main_gradient_angle), var(--navy), var(--main));
}

.pageTransitionBlock::after {
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  display: block;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.28), transparent 48%, rgba(4, 27, 68, 0.28));
}

@media (prefers-reduced-motion: reduce) {
  .pageTransitionShutter {
    display: none;
  }
}
