Options -MultiViews
RewriteEngine On

RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html[\s?] [NC]
RewriteRule ^index\.html$ ./ [R=301,L]

RewriteCond %{THE_REQUEST} \s/+(.*/)?pages/([A-Za-z0-9_-]+)\.html[\s?] [NC]
RewriteRule ^pages/([A-Za-z0-9_-]+)\.html$ $1 [R=301,L]

RewriteCond %{THE_REQUEST} \s/+(.*/)?(about|projects|services|store|features|gallery|contact)\.html[\s?] [NC]
RewriteRule ^(about|projects|services|store|features|gallery|contact)\.html$ $1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(about|projects|services|store|features|gallery|contact)/?$ pages/$1.html [L]
